@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

                    /* 01 */

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    height: 10px;
}

li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;    
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}
h2{
    color: #edf0f1;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navlinks {
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;  
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    color: #0088a9;
}
.home {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 40px;
}
button :hover{
    background-color: rgba(0, 136, 169, 1);
}

                                /* 02 */

#box{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    height: 10px;
}

li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;    
    text-decoration: none;
}
#box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
}
.logo{
    color: #edf0f1;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 25px;
}
.navlinks {
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;  
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    color: #0088a9;
}
.about {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 690px;
}
button:hover{
    background-color: rgba(0, 136, 169, 1);
}

                                /* 03 */

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    height: 10px;
}

li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;    
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}
h2{
    color: #edf0f1;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navlinks {
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;  
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 1);
}
.auto{
    margin-left: 670px;
}
#circle {
    margin-right: 40px;
}